@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; width: 100%; }
body {
  background-color: #f5f5f5; margin: 0; padding: 0;
  font-family: "Microsoft JhengHei", "Heiti TC", sans-serif;
  overflow: hidden;
}
/* 讓文字直排的工具類 */
.writing-vertical { writing-mode: vertical-rl; text-orientation: upright; }